.content-section {
    width: 100%;
    max-width: 1440px;
    min-height: 100px;
    margin: auto;
}

.content-section_theme_text_dark {
    color: #000;
}

.content-section_theme_text_bright {
    color: #fff;
}

.header {
    display: grid;
    align-items: center;
    padding: 92px 50px;
    grid-template: 109px / 1fr 1fr 1fr;
}

.menu {
    justify-self: start;
}

.menu-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.menu-list .menu-items:nth-child(1) {
    list-style: none;
}

.menu-link {
    position: relative;
    border-bottom: 1px solid #000;
    font-size: 18px;
    text-decoration: none;
}

.menu-link_border_bottom_none {
    border: none;
}

.menu-items_marker_none {
    list-style: none;
}

.header__logo {
    display: block;
    justify-self: center;
    width: 100%;
    max-width: 148px;
    height: 100%;
    max-height: 105px;
}

.header__logo-image {
    width: 100%;
    height: 100%;
}

.contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 240px;
    height: 100%;
    max-height: 97px;
    font-size: 18px;
    font-style: normal;
    line-height: 1.35;
}

.contacts__telephone, .contacts__mail {
    width: 100%;
    max-width: 133px;
    border-bottom: 1px solid #000;
    text-decoration: none;
}

.contacts_header-position {
    justify-self: end;
    width: 100%;
    max-width: 240px;
}

.cover {
    position: relative;
    padding: 165px 50px 50px;
    background: url("../images/cover.jpg") no-repeat center / 100% auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #000;
}

.cover__title {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 700;
    font-size: 100px;
    line-height: 1;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.cover__title .accent-span:nth-child(1) {
    line-height: 1.15;
}

.cover__title .accent-span:nth-child(2) {
    width: 100%;
    max-width: 1280px;
}


.accent-span {
    display: block;
}

.letter-spacing_extended {
    letter-spacing: 60px;
}

.letter-spacing_none {
    letter-spacing: 0;
}

.align-text_center {
    text-align: center;
}

.align-text_right {
    text-align: right;
}

.cover__discription {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 78px;
    margin-top: 135px;
}

.cover__discription_text {
    position: relative;
    z-index: 1;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.27;
    text-transform: uppercase;
    word-spacing: 19px;
    
}

.cover__dicription-button {
    position: relative;
    z-index: 1;
    border: 1px solid #fff;
    padding: 12px 32px;
    color: inherit;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    background-color: transparent;
}

.lots {
    display: flex;
    flex-direction: column;
    padding: 180px 50px 181px;
}

.lots__heading {
    padding: 0 0 27px 40px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
}

.lots__card-list_item {
    position: relative;
    width: 100%;
    max-width: 430px;
    min-height: 450px;
}

.card-link {
    display: inline-block;
    height: 100%;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 50px 40px;
}

.card_type_film {
    background: url("../images/card-lot-01.jpg") no-repeat center / contain;
}

.card_type_book {
    background: url("../images/card-lot-02.jpg") no-repeat center / contain;
}

.card_type_picture {
    background: url("../images/card-lot-03.jpg") no-repeat center / contain;
}

.card__title {
    position: relative;
    z-index: 1;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card__text {
    position: relative;
    z-index: 1;
    font-size: 20px;
    line-height: 1.2;

}

.lots__look-more-link {
    width: fit-content;
    margin: 30px 0 0 40px;
    border-bottom: 1px solid #000;
    font-size: 20px;
    text-decoration: none;
}

.about {
    display: grid;
    grid-template: 240px 247px / 430px 1fr;
    grid-template-areas: 
    "logo title"
    "logo text";
    column-gap: 25px;
    padding: 0 50px 180px;
}

.about__logo {
    display: flex;
    grid-area: logo;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 240px;
    height: 100%;
    max-height: 240px;
    border-radius: 50%;
    background-color: #000;
}

.about__logo-image {
    max-width: 148px;
    max-height: 114px;
}

.about__title {
    grid-area: title;
    align-self: center;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    grid-area: text;
    gap: 25px;
    align-self: end;
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 90px;
}

.menu-list-footer-position {
    flex-direction: column;
    align-items: center;
    gap: 0;
    list-style: none;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 240px;
    min-height: 48px;
    list-style: none;
}

.footer__social-item {
    width: 48px;
}

.footer__social-icon {
    display: block;
    width: 100%;
}